.instructor-img {
    width: 400px;
    border-radius: 10px;
}

.i-card {
    border: 3px solid rgba(128, 128, 128, 0.234);
    padding: 50px 20px;
    border-radius: 10px;
    transition: .5s;
}

.i-card:hover {
    border: 3px solid rgba(128, 128, 128, 0.829);
}